@custom-media --tablet (width <= 1152px);
@custom-media --mobile (width <= 767px);

.nav {
	display: flex;
	gap: 48px;

	@media (--tablet) {
		gap: 24px;
	}

	@media (--mobile) {
		gap: 12px;
	}
}

.nav__elem {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: clamp(16px, 18px, 24px);
	line-height: 120%;
	cursor: pointer;
	text-wrap: nowrap;
	transition: all 0.3s ease;

	@media (hover: hover) {
		&:hover {
			color: #fdd273;
		}
	}

	&:active {
		color: #ffe19d;
	}
}