@custom-media --tablet (width <= 1152px);
@custom-media --mobile (width <= 767px);

.conveniences {
	margin-bottom: 138px;

	@media (--tablet) {
		margin-bottom: 68px;
	}
}

.title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	text-align: center;
	margin-bottom: 32px;

	@media (--tablet) {
		font-size: 32px;
		line-height: 110%;
		margin-bottom: 24px;
	}
}

.splide_wrapper {
	margin: 0 -96px 48px;

	@media (--tablet) {
		margin: 0 -78px 24px;
	}

	@media (--mobile) {
		margin: 0 -18px 24px;
	}
}

.splide {
}

.slide_wrapper {
	height: 100%;
	align-content: center;
}

.slide {
	width: 659px;
	aspect-ratio: 659 / 376;
	background-size: cover;
	transition: transform 0.6s ease;

	@media (--tablet) {
		width: 51vw;
		aspect-ratio: 395 / 226;
	}

	@media (--mobile) {
		width: 64vw;
		aspect-ratio: 240 / 272;
	}
}

.activeSlide {
	transform: scale(1.2);
}

.text_content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 12px 24px;

	@media (--tablet) {
		gap: 12px;
	}

	@media (--mobile) {
		gap: 8px;
	}
}

.text {
	font-weight: 400;
	font-size: 24px;
	line-height: 140%;

	@media (--tablet) {
		font-size: 16px;
	}
}
