.image_wrapper {
	overflow: hidden;

	@media (--tablet) {
		min-width: 100%;
		width: 100%;
		aspect-ratio: 612 / 399;
	}

	& > div {
		width: 100%;
		height: 100%;
		background: 100% / cover no-repeat;
		transition: transform .3s ease-in;

		@media (hover: hover) {
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}