@custom-media --tablet (width <= 1152px);
@custom-media --mobile (width <= 767px);

.rooms {
	margin: 0 -96px 124px;
	padding: 96px 0;
	background: #f8f8f8;

	@media (--tablet) {
		padding: 64px 0;
		margin: 0 -78px 64px;
	}

	@media (--mobile) {
		margin: 0 -18px 64px;
	}
}

.content_wrapper {
	margin-left: 29%;

	@media (--tablet) {
		margin-left: 30%;
	}

	@media (--mobile) {
		margin: 0 18px;
	}
}

.title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 46px;
	line-height: 120%;
	margin-bottom: 32px;

	@media (--tablet) {
		font-size: 32px;
		line-height: 110%;
		margin-bottom: 18px;
	}

	@media (--mobile) {
		text-align: center;
	}
}

.layout_titles {
	display: flex;
	gap: 48px;
	margin-bottom: 48px;

	@media (--tablet) {
		gap: 24px;
		margin-bottom: 28px;
	}

	@media (--mobile) {
		justify-content: center;
	}
}

.layouts_title {
	font-weight: 400;
	font-size: 32px;
	line-height: 160%;
	text-align: center;
	color: #272928;
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.3s ease;

	@media (hover: hover) {
		&:hover {
			opacity: 0.7;
		}
	}

	@media (--tablet) {
		font-size: 20px;
	}
}

.layouts_title.layouts_title_active {
	opacity: 1;
}

.slide {
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
	opacity: 0.5;
	aspect-ratio: 404 / 478;
	cursor: pointer;
	transition: all 0.3s ease;

	@media (hover: hover) {
		&:hover {
			opacity: 1;
			background: #001e49;
			color: #fff;
			transform: scale(1.05);
		}
	}
}

.slide_active {
	opacity: 1;
}

.slide__title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 56px;
	line-height: 100%;
	letter-spacing: -0.02em;

	@media (--tablet) {
		font-size: 32px;
	}
}

.slide__description {
	font-weight: 500;
	font-size: 24px;
	line-height: 160%;
	text-align: center;
	color: #a7a7a7;
	text-transform: capitalize;

	@media (--tablet) {
		font-size: 18px;
	}
}
