.mobileView {
	display: flex;
	border-radius: 2px;
	border: 1px solid #001e49;
}

.lang {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	text-transform: uppercase;
	padding: 6px 10px;
	color: #000;
}

.lang_active {
	color: #fff;
	background: #001e49;
}