@custom-media --tablet (width <= 1152px);
@custom-media --mobile (width <= 767px);

.header {
	padding: 22px 96px;
	margin: 0 -96px;
	display: flex;
	align-items: center;
	gap: 48px;
	position: sticky;
	z-index: 10;
	background: #fff;
	top: 0;

	@media (--tablet) {
		padding: 12px 78px;
		margin: 0 -78px;
		width: 100%;
	}

	@media (--mobile) {
		padding: 8px 18px;
		margin: 0 -18px;
		width: 100vw;
	}
}

.logo {
	background: url('../../../static/images/components/logo.svg');
	min-width: 216px;
	aspect-ratio: 216 / 52;
	margin-right: auto;
	cursor: pointer;

	@media (--tablet) {
		background: url('../../../static/images/components/logo-tablet.svg');
		min-width: 38px;
		aspect-ratio: 1;
	}
}

.btn {
	font-weight: 600;
	font-size: clamp(12px, 16px, 18px);
	line-height: 120%;
	text-transform: uppercase;
	padding: 14px 20px;
	text-wrap: nowrap;

	@media (hover: hover) {
		&:hover {
			background: #fdd782;
			color: #001e49;
		}
	}

	&:active {
		background: #ffeabd;
	}

	@media (--tablet) {
		display: none;
	}
}

.mobile_menu__btn {
	background: url('../../../static/images/components/mobile-menu.svg');
	width: 36px;
	aspect-ratio: 1;
}
