.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.35);
}

body:has(.mobileMenu) {
	overflow: hidden;
}

.mobileMenu {
	position: fixed;
	top: 0;
	right: 0;
	height: 100dvh;
	background: #fff;
	padding: 38px 18px 26px;
	width: max(240px, 65%);
	transform: translateX(max(240px, 65%));
	opacity: 0;
	display: flex;
	align-items: center;
	flex-flow: column;
	animation: fade-in .3s ease forwards;
}

@keyframes fade-in {
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.btn_close {
	position: absolute;
	top: 12px;
	right: 12px;
	background: url('../../../static/images/ui-kit/cross.svg') center / auto;
	width: 24px;
	aspect-ratio: 1;
}

.logo {
	background: url('../../../static/images/components/logo-mobile-menu.svg');
	width: 174px;
	aspect-ratio: 87 / 76;
	margin-bottom: 50px;
}

.nav {
	flex-flow: column;
	align-items: center;
	gap: 18px;
	margin-bottom: 18px;
}

.bottom_group {
	margin-top: auto;
	display: flex;
	flex-flow: column;
	gap: 32px;
	align-items: center;
}