@custom-media --tablet (width <= 1152px);
@custom-media --mobile (width <= 767px);

.title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 46px;
	line-height: 120%;
	text-align: center;
	margin-bottom: 32px;

	@media (--tablet) {
		font-size: 32px;
		line-height: 110%;
		margin-bottom: 24px;
	}
}

.image_wrapper {
	margin: 0 -96px;
	overflow: hidden;
	overflow-x: auto;

	@media (--tablet) {
		margin: 0 -78px;
	}

	@media (--mobile) {
		margin: 0 -18px;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.image {
	background: url('../../../static/images/components/interior.png') center / cover no-repeat;
	width: 125%;
	aspect-ratio: 1920 / 543;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	overflow-x: auto;

	@media (--tablet) {
		width: 1920px;
		aspect-ratio: 1920 / 559;
	}
}
