@custom-media --tablet (width <= 1152px);
@custom-media --mobile (width <= 767px);

.title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 46px;
	line-height: 120%;
	text-align: center;
	color: #000;
	margin-bottom: 32px;

	@media (--tablet) {
		font-size: 32px;
		line-height: 110%;
		margin-bottom: 24px;
	}
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 32px;
	gap: 32px;

	@media (--tablet) {
		margin-bottom: 24px;
		flex-wrap: wrap;
		gap: 18px;
	}

	@media (--mobile) {
		gap: 12px;
	}
}

.content__item {
	display: flex;
	flex-flow: column;
	gap: 6px;
	flex: 1 0 calc(25% - 32px * 3 / 4);

	@media (--tablet) {
		flex: 1 0 calc(50% - 18px / 2);
	}

	@media (--mobile) {
		flex: 1 0 100%;
	}
}

.content__item__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	text-transform: uppercase;
	color: #a7abb9;

	@media (--tablet) {
		font-size: 14px;
	}
}

.content__item__description {
	font-weight: 300;
	font-size: 24px;
	line-height: 120%;
	text-wrap: pretty;

	@media (--tablet) {
		font-size: 18px;
	}	
}