@custom-media --tablet (width <= 1152px);
@custom-media --mobile (width <= 767px);

.marker {
	background: url('../../../static/images/ui-kit/marker.svg') 100% / cover;
	width: 56px;
	height: 80px;
}

.map_wrapper {
	width: 100%;
	height: 480px;
	position: relative;

	& div.gmnoprint {
		display: none;
	}

	& div.gm-style-cc {
		display: none;
	}

	@media (--tablet) {
		aspect-ratio: 612 / 493;
		height: auto;
	}

	@media (--tablet) {
		aspect-ratio: 336 / 386;
		height: auto;
	}
}

.btn {
	position: absolute;
	bottom: 24px;
	right: 24px;

	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	text-transform: uppercase;
	color: #001e49;
	background: #fff;
	padding: 18px 24px;
	border: 2px solid #001e49;

	@media (hover: hover) {
		&:hover {
			background: #001e49;
			color: #fff;
		}
	}

	&:active {
		background: #162f5b;
		color: #fff;
	}

	@media (--tablet) {
		top: 16px;
		right: 16px;
		bottom: auto;
		padding: 8px 24px;
		font-size: 16px;
	}

	@media (--mobile) {
		top: auto;
		right: 50%;
		transform: translateX(50%);
		width: max-content;
		bottom: 18px;
		padding: 8px 24px;
		font-size: 16px;
	}
}